<div class="content">
  <mat-card appearance="outlined" class="hover-card" [routerLink]="['/todo']">
    <mat-card-content>
      <div class="app-card">
        <h1>ToDo List</h1>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card
    appearance="outlined"
    class="hover-card"
    [routerLink]="['/gallery']"
  >
    <mat-card-content>
      <div class="app-card">
        <h1>Dog Gallery</h1>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card
    appearance="outlined"
    class="hover-card"
    [routerLink]="['/account-user-form']"
  >
    <mat-card-content>
      <div class="app-card">
        <h1>Acount & User Details</h1>
      </div>
    </mat-card-content>
  </mat-card>
</div>
